
.container
	.row.row-footer
		.footer__copy 
			p © Строительная компания "Карбон"

		a(href='https://smarto.agency/' rel="nofollow" target="_blank").footer__link
			span Разработка сайта
			+img('smarto.svg')