div(class="call-form-popup mfp-with-anim mfp-hide" id="call-form-popup")
	div(class="call-form-popup__in")
		.form-wrap
			button(type="button" class="form-close js-close-btn")
				//- +svg('close-popup')
				img( src="./assets/images/close-popup.svg")
			.wrap
				h3.form-popup__title.fadeInLeft Замовити дзвінок
				//- p.form-popup__descr Наши менеджеры перезвонят вам в кротчайшие сроки
			form.main-form.call-form#js-call-form
				.main-form-block.requaired
					input(name="name" type="text" data-rule="empty").main-form__input.main-form__input-requaired
					span(data-type="name" data-defaultMessage="Ваше ім’я:**" data-errorMessage="Ім’я:* не заповнено:").main-form-content
						span.main-form__text Ім’я:*
				.main-form-block.requaired
					input(name="tel" type="text" data-rule="empty").main-form__input.main-form__input-requaired
					span(data-type="tel" data-defaultMessage="Ваш телефон*" data-errorMessage="Телефон: не заповнений:").main-form-content
						span.main-form__text Телефон*
				.radio-group
					input(type="radio" name="checkedtime")
					label(for="radio") Зателефонуйте зараз
				.radio-group
					input(class="checkedtimeRadio" type="radio" name="checkedtime") 
					label(for="radio") Вказати зручний час
					select(class="checkedtime")
						option(value="") Оберіть зручний час
						option(value="10:00") 9:00
						option(value="10:00") 10:00
						option(value="11:00") 11:00
						option(value="12:00") 12:00
						option(value="13:00") 13:00
						option(value="14:00") 14:00
						option(value="15:00") 15:00
				.response-span
				button.call-form__button.read-more-block
					+svg('arrow-2')(class='btn-send-form')
					img(class="read-more-block__icon" src="./assets/images/common/read-more-icon.svg", alt="read-more")
					span(class="read-more-block__text read-more-block__text_dark ") Відправити