$default-font: "open",
sans-serif;
$default-font2: "merri",
sans-serif;
$mc--b: #1E2026;
$mc--w: #F1F1F2;
$text: #BBB2AA;
$text--d: #5E534F;
$text--op: rgba(187, 178, 170,.5);


$mc: #BBB2AA;
$mc2: #E5DF06;
$mc3: #E5DF06;
$mc4: #4F90B6;
$gray:rgb(135, 135, 151);
$wc: #fff;
$bc: #000;
$bc2: #000;
//lending var 
$mc: #072146;
$mc2: #2EE3F8;
$mc3: #8CAAB9;
$mc4: #10319A;
$mc5:#F7D323;
$mc6:#3B4456;
$gray:rgb(135, 135, 151);
$text: #22223E;
$wc: #fff;
$bc: #000;
$bc2: #000;
//my vars
$text: #8CAAB9;
$text1: #9AB4C1;
$yellow: #F7D323;
$white: #ffffff;
$darkBlue: #072146;
$grayIcon: #426478;
$lightWhite: #FBFBFB;
$lightGray: #DAE3E7;
$grayNumber: #C6D1D7;
