
.footer {
	background: url('../images/bg-footer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	&__top {
		padding: 30px 0 40px;
		max-width: 1920px;
	    margin: 0 auto;
	    // padding-left: 20px;
	    padding-right: 20px;
	    @include to(767px){ 
	    	padding-left: 10px;
	    	padding-right: 10px;
	    	padding-top: 0;
	    }
	}
	&__top-in {
		display: flex;
		@include to(767px) {
			display: block;
		}
	}
	&__logo {
		max-width: 164px;
		transform: translateY(-30px);
		flex-shrink: 0;
		@include to(767px) {
			transform: translateY(0px);
			max-width: 110px;
		}
	}
	&__menu {
		flex-grow: 1;
	}
	&__bottom {
		padding: 20px 0;
		background-color: rgba(7, 33, 70, 0.8);
	}
	&__bottom-in {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1920px;
		margin: 0 auto;
		padding-left: 20px;
		padding-right: 20px;
		@include to(767px){ 
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	&__copy {
		color: $text;
		font-size: 10px;
		margin-right: 20px;
	}
	&__link {
		display: flex;
		align-items: center;
		text-decoration: none;
		font-size: 10px;
		color: $text;
		img {
			margin-right: 10px;
		    margin-left: 25px;
			width: 70px;
		}
		span {
			@include to(767px){ 
				display: none;
			}
		}
	}
}

